:root {
    --primary-color: #2C2C2C;
    --secondary-color: #f07e13;
    --background-color: #FFF8E7;
    --font: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    color: var(--text-color);
    transition: background-color 0.3s ease;
    background-color: var(--primary-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    padding-top: 5px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: font-size 0.3s ease, color 0.3s ease;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

nav ul li a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
    width: 0;
    margin: 0 auto;
}

nav ul li a:hover::after, nav ul li a.active::after {
    width: 80%;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que las imágenes se distribuyan en varias filas */
    gap: 20px; /* Espaciado entre imágenes */
    padding: 20px;
}

.papelera {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.papelera:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container-fotos {
    display: flex;
    margin: 50px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    img {
        width: 300px; /* Ajusta el tamaño de la imagen */
        height: auto; /* Mantén la proporción de la imagen */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}

.foto-container {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.foto-container img {
    width: 300px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto-container .papelera {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: none; /* Ocultar por defecto */
}

.foto-container:hover .papelera {
    display: block; /* Mostrar al pasar el cursor */
    transform: scale(1.1); /* Escala al pasar el cursor */
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.foto-container .papelera:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.foto-container:hover img {
    transform: scale(1.05); /* Escala al pasar el cursor */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
}

img:hover {
    transform: scale(1.1); /* Escala al pasar el cursor */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
    papelera {
        display: block;
    }
}

.container-subida-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 90px;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    form {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        border: 3px solid var(--secondary-color);
        border-style: dashed;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 200px;
        transition: transform 0.3s ease;
        
        h1 {
            color: var(--secondary-color);
            margin: 0 0 10px 0; /* Espaciado inferior controlado */
            padding: 0;
            text-transform: uppercase;
            font-size: 5rem;
        }

        input {
            margin: 5px 0; /* Margen reducido entre los elementos */
            padding: 5px 10px; /* Ajusta el tamaño */
            display: inline-block;
            font-size: 1.5rem;
        }

        button {
            margin: 5px 0; /* Margen reducido entre los elementos */
            padding: 5px 10px; /* Ajusta el tamaño */
            font-size: 1.5rem;
        }

        [type="text"] {
            /* Tus estilos aquí */
            border: 2px solid var(--secondary-color);
            padding: 10px;
            font-size: 1.2rem;
            border-radius: 5px;
            margin-top: 10px;
        }
        p {
            display: block;
            color: red;
        }
    }
}

.container-subida-foto form:hover {
    transform: translateY(-10px);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajusta la altura del footer según lo necesites */
    background-color: var(--primary-color);
    i {
        font-size: 2rem; /* Ajusta el tamaño del ícono según sea necesario */
        color: var(--secondary-color); /* Cambia el color si deseas */
    }
    p{
        padding-top: 10px;
        color: var(--background-color);
    }
}

footer i:hover {
    cursor: pointer;
    color: var(--background-color);
}